{{!-- <div class="preloader">
    <div class="preloader-icon"></div>
</div> --}}

    
    <div class="form-wrapper">
        <div class="container">
            <div class="card">
                <div class="row g-0">
                    <div class="col">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <div class="d-block d-lg-none text-center text-lg-start">
                                    <img width="180" src="/images/sm-logo.svg" alt="logo.">
                                </div>
                                <div class="my-5 text-center text-lg-start">
                                    <h1 class="display-8">Sign In</h1>
                                    <p class="text-muted">Sign in to QACommander to continue</p>
                                </div>
                                <form {{on "submit" this.authenticate}} class="mb-5">
                                    <div class="mb-3">
                                        {{!-- template-lint-disable require-input-label --}}
                                        <input type="text" class="form-control" placeholder="Enter email or username" value="{{this.username}}" {{on "input" this.updateUsername}} required>
                                    </div>
                                    <div class="mb-3">
                                        {{!-- template-lint-disable require-input-label --}}
                                        <input type="password" class="form-control" value="{{this.password}}" placeholder="Enter password" {{on "input" this.updatePassword}} required>
                                    </div>
                                    <div class="text-center text-lg-start">
                                        <p class="small">Can't access your account? <a href="#">Reset your password now</a>.</p>
                                        <button class="btn btn-primary" type="submit">Sign In</button>
                                    </div>
                                </form>
                                <p class="text-center d-block d-lg-none mt-5 mt-lg-0">
                                    Don't have an account? <a href="#">Sign up</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col d-none d-lg-flex border-start align-items-center justify-content-between flex-column text-center">
                        <div class="logo">
                            <img width="180" src="/images/sm-logo.svg" alt="logo.">
                        </div>
                        <div>
                            <h3 class="fw-bold">Welcome to QACommander!</h3>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

